
{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}


  <div class="">
      <img class="photoabout" src="{% static 'portfolio/DSC05415.jpg' %}">
  </div>
  <div>
    <h1 class="abouttext">HELLO, I'M TARAS AND I BUILT MY PHOTOGRAPHY PORTFOLIO TO USE IT AS MY WEB DEVELOPEMENT PORTFOLIO</h1>
  </div>

<br>

  <form method="post">
    {% csrf_token %}
    <div class="contact">
      <h3>Contact me</h3>

      <h5 class="contactform">Name</h5>
      {{ form.name }}

      <h5 class="contactform">Email</h5>
      {{ form.email }}

      <h5 class="contactform">Message</h5>
      <!-- <textarea class="messageinput" rows="5" cols="50" placeholder="Enter your message...">{{ form.comment }}</textarea> -->
      <div class="commentform">
        {{ form.comment }}
      </div>

<br>

      <button class="btn btn-outline-secondary" type="submit"> Send Message</button>
    </div>
  </form>



{% endblock %}
