*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    font-family: "Lato";
    font-size: 20px;
    font-weight: 100;
    flex-direction: column;
}

.container{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.login{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  font-size: 18px;
  padding: 30px 0 0 0;
}

.logoph{
  display: flex;
  justify-content: flex-start;

}

h5.logged{
  margin: 0;
}

h5.sighupform{
  padding: 8px;
}

.loginuser{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h5.contactform{
  padding: 4px;
}

.preset{
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
  width: 100%;
}

.preset_name{
  display: flex;
  align-items: center;
  justify-content: center;
}

.preset_img{
  height: 450px;
  width: 310px;
  margin: 10px;
}

.download_link{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

}
.logo{
  display: flex;
  flex-direction: column;
}

.t{
  font-family: "Lato";
  font-size: 50px !important;
  font-weight: 200;
}
.b{
  font-size: 18px;
  text-decoration: none;
  background-color: transparent;
  color: gray;
  border: none;
  padding: 0 20px;
}
.b:hover{
  text-decoration: none;
  color: black;
}
a{
  text-decoration: none;
  color: grey;
  padding: 0 20px;
}
a:hover{
  text-decoration: none;
  color: black;
}
a.active {
  background-color: cyan;
}

.fb-ic{
  padding: 0 10px 0 0;
}

.other{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;

}

.nav{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  font-size: 15px;

}
li{
  font-size: 15px;
  padding: 30px 25px 0 25px;
}

.mt-5{
  margin: 0 !important;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav{
    display: flex;
    padding: 5px;
    margin: 0 5px 20px 0;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    width: 100%;
}


a.icon {
    display: none;
  }





/* home.html */

hr{
  border: 1.5px solid black;
}
.grid{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    width: 100%;
}

.projectimg{
  height: 450px;
  width: 310px;
  margin: 10px;
}
.photologo{
  padding: 0 !important;
}
.photoabout{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 520px;
  width: 350px !important;
}
.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.abouttext{

  text-align: center;
  width: auto;
  max-width: 800px;
  padding-top: 30px;
}
.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 310px;
    margin: 20px;
}


.input{
  text-decoration: none;
  color: blue;
  padding: 0 20px;
}


/* photo gallery from port.html */

.col{
  width: 1300px;
  margin: .5vw;
  columns: 4;
  column-gap: 5px;
}

.coli{
  width: 100%;
  margin: 0 0 5px;
  padding: 1px;
  background: #fff;
  overflow: hidden;
}

.coli img{
  max-width: 100%;
}

@media (max-width: 1300px){
  .col{
    columns: 3;
    width: calc(100%-40px);
    box-sizing: border-box;
  }
}

@media (max-width: 768px){
  .col{
    columns: 2;
  }
}

@media (max-width: 480px){
  .col{
    columns: 1;
  }
}

.messageinput {
  float: left;
  width: 100%;
  min-height: 10px;
  outline: none;
  resize: none;
  border: 1px solid grey;
}

@media (max-width: 480px){
  .commentform{
    width: 200px;
  }
}
